h1.title My Status
h3.title For the week ending #week-ending-prompt#

section
  h1 Hours Summary
  .layout
    .layout-cell
      .grid
        .group
          .col.span_6_of_6.c
            h2 Current Week's Hours 
            h3 Ending (mm/dd/yyyy)          
        .group
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Total
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Billable
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Non-Billable
    .layout-cell
      .grid
        .group
          .col.span_6_of_6.c
            h2 Previous Week's Hours
            h3 Ending (mm/dd/yyyy)            
        .group
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Total
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Billable
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Non-Billable

section
  h1 My Projects


  section
    h2 Project Name (% complete) - repeat
    div health indicator

    h3 Time Summary

    .layout
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Current Week's Hours 
              h3 Ending (mm/dd/yyyy)          
          .group
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Total
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Billable
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Non-Billable
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Previous Week's Hours
              h3 Ending (mm/dd/yyyy)            
          .group
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Total
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Billable
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Non-Billable


    .layout
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Current Week's Tasks       
          .group
            .col.span_6_of_6
              p * due to start
              p * unfinished (not 100%), start date < monday
              p * hours booked on task
              p * current percent complete?
      .layout-cell          
        .grid
          .group
            .col.span_6_of_6
              h2 Previous Week's Tasks      
          .group
            .col.span_6_of_6
              p * completed last wk
              p * completed date >= first day of last wk
              p * scheduled end <= last day of last wk
              p * scheduled start <= last day of last week
              p * hours booked on task
              p * percent complete and delta




