h1.title Time Report
h3.title For the week ending #week-ending-prompt#

section
  h1 Summary
  .layout
    .layout-cell
      .grid
        .group
          .col.span_6_of_6
            h2 Current Week's Hours 
            h3 Ending (mm/dd/yyyy)          
        .group
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Total
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Billable
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Non-Billable
    .layout-cell
      .grid
        .group
          .col.span_6_of_6
            h2 Previous Week's Hours
            h3 Ending (mm/dd/yyyy)            
        .group
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Total
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Billable
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Non-Billable



section


  h1 My Projects

  h2 Project Name (% complete)
  div health

  section
    h3 Time Summary

    .layout
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Current Week's Hours 
              h3 Ending (mm/dd/yyyy)          
          .group
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Total
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Billable
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Non-Billable
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Previous Week's Hours
              h3 Ending (mm/dd/yyyy)            
          .group
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Total
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Billable
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Non-Billable

    h3.b Breakdown of Hours By Task

    table
      thead
        tr
          th.l #
          th.l Name

          th.r S
          th.r M
          th.r T
          th.r W
          th.r T
          th.r F
          th.r S
          th.r Total
      tbody
        tr
          td.l 1234
          td Some ticket
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234

        tr
          td.l 1234
          td Some ticket
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
        tr
          td.l 1234
          td Some ticket
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
        tr
          td.l 1234
          td Some ticket
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
        tr
          td.l 1234
          td Some ticket
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234
          td.r 1234


