md-dialog(aria-label="Update Time")
  md-content
    .form-container
      h1 Delete
      p Are you sure you want to delete this item?
  .md-actions
    md-button.md-primary(ng-click="save()", md-no-ink="true") Save
    md-button(md-no-ink="true" ng-click="cancel()") Cancel