md-dialog(aria-label="Folder")
  md-content
    .form-container
      h1 Folder
      fieldset
        field
          label Name
          input(ng-model="name", type="text")
  .md-actions
    md-button.md-primary(ng-click="save()", md-no-ink="true") Save
    md-button(ng-click="cancel()", md-no-ink="true") Cancel