md-dialog
  md-content
    .form-container
      
      h1 Confirm Log Out
      p Are you sure you want to log out?
  .md-actions
    md-button.md-primary(ng-click="logout()", md-no-ink="true") Yes
    md-button(ng-click="cancel()", md-no-ink="true") No