md-item
  md-item-content
    md-button(ng-click="toggleReport(true, 'assigned_to_me','status')", md-no-ink="true") Status/Activity Report
md-item
  md-item-content
    md-button(ng-click="toggleReport(true, 'assigned_to_me','time')", md-no-ink="true") Time Report
