md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'directory','contacts')") Contacts List
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'directory','time')") Time Report
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'directory','people_and_projects')") People and Projects
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'directory','rate_sheet')") Rate Sheet
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'directory','status')") Status/Activity Report



