md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'projects','dashboard')") Executive Dashboard
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'projects','listing')") Project Listing
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'projects','resourcing')") Project Resourcing

