md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'project','status','project_id='+ state.currentId)") Status/Activity Report
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'project','dashboard','project_id='+ state.currentId)") Dashboard Report
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'project','time','project_id='+ state.currentId)") Time Report
md-item
  md-item-content
    md-button(md-no-ink="true" ng-click="toggleReport(true,'project','rate_sheet','project_id='+ state.currentId)") Project Rate Sheet
