h1.title Time Report
h3.title For the week ending #week-ending-prompt#

section
  h1 Summary

  .layout
    .layout-cell
      .grid
        .group
          .col.span_6_of_6
            h2 Current Week's Hours 
            h3 Ending (mm/dd/yyyy)          
        .group
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Total
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Billable
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Non-Billable
    .layout-cell
      .grid
        .group
          .col.span_6_of_6
            h2 Previous Week's Hours
            h3 Ending (mm/dd/yyyy)            
        .group
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Total
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Billable
          .metric.col.span_2_of_6
            .metric-value 9999
            .metric-label Non-Billable



  section

    h1 PERSON

    h2 Project Name (% complete)
    div health


    h3 Time Summary

    .layout
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Current Week's Hours 
              h3 Ending (mm/dd/yyyy)          
          .group
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Total
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Billable
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Non-Billable
      .layout-cell
        .grid
          .group
            .col.span_6_of_6
              h2 Previous Week's Hours
              h3 Ending (mm/dd/yyyy)            
          .group
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Total
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Billable
            .metric.col.span_2_of_6
              .metric-value 9999
              .metric-label Non-Billable

    h3 Task Summary
    table
      thead
        tr
          th #
          th Name
          th Assigned To
          th S
          th M
          th T
          th W
          th T
          th F
          th S
          th Total
      tbody
        tr
          td 1234
          td User Name
          td Some ticket
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234

        tr
          td 1234
          td User Name
          td Some ticket
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
        tr
          td 1234
          td User Name
          td Some ticket
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
        tr
          td 1234
          td User Name
          td Some ticket
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
        tr
          td 1234
          td User Name
          td Some ticket
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234
          td 1234

