md-bottom-sheet
  md-list
    md-list-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="attachments.services.dropbox.picker()")
          i.aitu-dropbox-logo
    md-list-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="attachments.services.googleDrive.picker()")
          i.aitu-google-drive-logo
          span Google Drive
    md-list-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="attachments.services.oneDrive.picker()")
          i.aitu-onedrive-logo
    md-list-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="attachments.services.box.picker()")
          i.aitu-box-logo
