md-bottom-sheet
  md-list
    md-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="edit(model)")
          span.label Edit Project
    md-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="newFolder()")
          span.label Change Stage              
