md-bottom-sheet
  md-list
    md-list-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="newTask()")
          span.label Add Task
    md-list-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="newFolder()")
          span.label Add Folder              
