md-bottom-sheet
  md-list
    md-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="edit(model)")
          span.label Edit Task
    md-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="addTime()")
          span.label Add Time              
    md-item
      md-item-content
        md-button(md-no-ink="true" type="button", ng-click="changeProgress()")
          span.label Change Percent Complete              